//nav compoent
.nav {
  width: 100%;
  background: $primary-color;
  color: white;
  font-weight: bold;
  @include fontSizes(26);
}
//container
.container {
  width: 100%;
  display: flex;

  section {
    &:nth-child(1n) {
      width: 60%;
    }
    &:nth-child(2n) {
      width: 40%;
    }
  }
}
//search

.search-component {
  span {
    @include fontSizes(12);
    font-weight: 500;
    color: $name-color;
  }
  .search-holder {
    button {
      padding: 10px 20px;
      color: white;
      background: $primary-color;
      border: none;
      @include borderRadius(3px);
      @include fontSizes(14);
      font-weight: 500;
      text-transform: uppercase;
    }
    input {
      padding: 8px;
      margin-right: -8px;
    }
  }
}
