.common-section {
  padding: 40px
}
.title {
  width: 100%;
  @include fontSizes(20);
  font-weight: bold;
  text-transform: uppercase;
}
//nav compoent
.nav {
  width: 100%;
  background: $second-color;
  color: white;
  font-weight: bold;
  @include fontSizes(26);
}
//container
.container {
  width: 100%;
  @include flex;
  justify-content: space-between;
  .fullContainer {
    width: 100% !important;
    @include transition(all .3s);
    img {
      min-height: 400px;
    }
  }
  .hideSection {
    width: 0 !important;
    @include transition(all .3s)
  }
  .first-section {
    width: 55%;
    @include transition(all .3s)
  }
  .second-section {
    width: 45%;
    @include transition(all .3s)
  }
}
//search

.search-component {
  border-right: 1px solid $boder-color;
  border-bottom: 1px solid $boder-color;
  span {
    @include fontSizes(12);
    font-weight: 500;
    color: $name-color;
  }
  .search-holder {
    button {
      padding: 10px 20px;
      color: white;
      background: $primary-color;
      @include borderRadius(3px);
      @include fontSizes(14);
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        background: lighten($primary-color, 2%);;
      }
    }
    input {
      padding: 8px;
      margin-right: -8px;
    }
  }
}

//search result
.search-result-component {
  border-right: 1px solid $boder-color;
  border-bottom: 1px solid $boder-color;

  .gif-section {
    width: 100%;
    @include flex;
    flex-direction: column;
    align-items: center;
    h4 {
      color: $name-color;
      @include fontSizes(16);
      text-transform: capitalize;
    }

    .gif {
      width: 350px;
      height: 350px;
    }

    button {
      margin-bottom: 40px;
      background: $primary-color;
      @include borderRadius(3px);
      @include flex;
      justify-content: center;
      align-items: center;
      padding: 10px 40px;
      &:hover {
        background: lighten($primary-color, 2%);;
      }
      img {
        width: 20px;
      }
    }
  }

  .range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    background: none;
  }

  .range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  .range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
  }

  .range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
  }

  .range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
  }

  .range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
  }

  .range::-ms-tooltip { display: none; /* display and visibility only */ }

  .range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
  }

  .range:active::-moz-range-thumb {
    outline: none;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
  }

  .range:active::-webkit-slider-thumb {
    outline: none;
  }

  .range::-ms-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    border: none;
  }

  .range:active::-ms-thumb {
    border: none;
  }
}

//liked gifs
.liked-GIFs-component {
  .GIF-section {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .GIF-holder {
      width: 46%;
      margin: 40px 0;
      @include flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      img[lazy=loading] {
        object-fit: contain !important;
      }
      h4 {
        width: 100%;
        color: $name-color;
        @include fontSizes(16);
        text-transform: capitalize;
        text-align: center;
      }
      .GIF-action {
        margin-top: 40px;
        width: 100%;
        .unlike-gif {
          position: relative;
          z-index: 10;
          margin-bottom: -25px;
          width: 100%;
          padding-right: 5px;
          height: 20px;
          @include flex;
          justify-content: flex-end;

          .circle {
            cursor: pointer;
            width: 20px;
            height: 20px;
            @include borderRadius(50%);
            background: $primary-color;
            &:hover {
              background: lighten($primary-color, 2%);;
            }
            p {
              color: white;
              font-weight: bold;
              text-align: center;
              @include fontSizes(12);
            }
          }
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        img[lazy=loading] {
          object-fit: contain !important;
        }
      }
    }
  }
}
//calculate component

.calc-component{
  width: 100%;
  @include flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    margin: 40px 0;
    text-transform: uppercase;
    background: $primary-color;
    color: white;
    @include fontSizes(14);
    font-weight: bold;
    padding: 15px 30px;
    @include borderRadius(3px);
    &:hover {
      background: lighten($primary-color, 2%);;
    }
  }
}
