//nav compoent
.nav {
  width: 100%;
  background: $primary-color;
  color: white;
  font-weight: bold;
  @include fontSizes(26);
}
//container
.container {
  width: 100%;
  display: flex;

  section {
    &:nth-child(1n) {
      width: 60%;
    }
    &:nth-child(2n) {
      width: 40%;
    }
  }
}
